# Data Wrangling on MongoDB

# --- Setup MongoDB Connection ---

In [1]:
import pymongo
from pymongo.errors import ConnectionFailure

import pandas as pd

In [2]:
MONGODB_URI = 'mongodb://rootuser:rootpass@localhost:27017/'
DATABASE_NAME = 'sale_recods'
COLLECTION_NAME = 'orders'

In [3]:
def mongodb_connection():
    try:
        client = pymongo.MongoClient(MONGODB_URI)
        print(f'Succesfully connected to mongodb on {MONGODB_URI}')
        return client
    except ConnectionFailure as e:
        print(f'Failure connect to mongdb {e}')
        return None

# --- Create Connection ---

In [4]:
conn = mongodb_connection()

Succesfully connected to mongodb on mongodb://rootuser:rootpass@localhost:27017/

# --- Create Database: sale_recods, Collection: orders ---

In [5]:
db = conn[DATABASE_NAME]
collection = db[COLLECTION_NAME]

# --- Import JSON file to MongoDB ---

In [6]:
import json

with open('sales_record.json','r') as f:
    data = json.load(f)

collection.insert_many(data)

InsertManyResult([ObjectId('689bd95b51a5ac72fba5c4c5'), ObjectId('689bd95b51a5ac72fba5c4c6'), ObjectId('689bd95b51a5ac72fba5c4c7'), ObjectId('689bd95b51a5ac72fba5c4c8'), ObjectId('689bd95b51a5ac72fba5c4c9'), ObjectId('689bd95b51a5ac72fba5c4ca'), ObjectId('689bd95b51a5ac72fba5c4cb'), ObjectId('689bd95b51a5ac72fba5c4cc'), ObjectId('689bd95b51a5ac72fba5c4cd'), ObjectId('689bd95b51a5ac72fba5c4ce'), ObjectId('689bd95b51a5ac72fba5c4cf'), ObjectId('689bd95b51a5ac72fba5c4d0'), ObjectId('689bd95b51a5ac72fba5c4d1'), ObjectId('689bd95b51a5ac72fba5c4d2'), ObjectId('689bd95b51a5ac72fba5c4d3'), ObjectId('689bd95b51a5ac72fba5c4d4'), ObjectId('689bd95b51a5ac72fba5c4d5'), ObjectId('689bd95b51a5ac72fba5c4d6'), ObjectId('689bd95b51a5ac72fba5c4d7'), ObjectId('689bd95b51a5ac72fba5c4d8'), ObjectId('689bd95b51a5ac72fba5c4d9'), ObjectId('689bd95b51a5ac72fba5c4da'), ObjectId('689bd95b51a5ac72fba5c4db'), ObjectId('689bd95b51a5ac72fba5c4dc'), ObjectId('689bd95b51a5ac72fba5c4dd'), ObjectId('689bd95b51a5ac72fba5c4de'), ObjectId('689bd95b51a5ac72fba5c4df'), ObjectId('689bd95b51a5ac72fba5c4e0'), ObjectId('689bd95b51a5ac72fba5c4e1'), ObjectId('689bd95b51a5ac72fba5c4e2'), ObjectId('689bd95b51a5ac72fba5c4e3'), ObjectId('689bd95b51a5ac72fba5c4e4'), ObjectId('689bd95b51a5ac72fba5c4e5'), ObjectId('689bd95b51a5ac72fba5c4e6'), ObjectId('689bd95b51a5ac72fba5c4e7'), ObjectId('689bd95b51a5ac72fba5c4e8'), ObjectId('689bd95b51a5ac72fba5c4e9'), ObjectId('689bd95b51a5ac72fba5c4ea'), ObjectId('689bd95b51a5ac72fba5c4eb'), ObjectId('689bd95b51a5ac72fba5c4ec'), ObjectId('689bd95b51a5ac72fba5c4ed'), ObjectId('689bd95b51a5ac72fba5c4ee'), ObjectId('689bd95b51a5ac72fba5c4ef'), ObjectId('689bd95b51a5ac72fba5c4f0'), ObjectId('689bd95b51a5ac72fba5c4f1'), ObjectId('689bd95b51a5ac72fba5c4f2'), ObjectId('689bd95b51a5ac72fba5c4f3'), ObjectId('689bd95b51a5ac72fba5c4f4'), ObjectId('689bd95b51a5ac72fba5c4f5'), ObjectId('689bd95b51a5ac72fba5c4f6'), ObjectId('689bd95b51a5ac72fba5c4f7'), ObjectId('689bd95b51a5ac72fba5c4f8'), ObjectId('689bd95b51a5ac72fba5c4f9'), ObjectId('689bd95b51a5ac72fba5c4fa'), ObjectId('689bd95b51a5ac72fba5c4fb'), ObjectId('689bd95b51a5ac72fba5c4fc'), ObjectId('689bd95b51a5ac72fba5c4fd'), ObjectId('689bd95b51a5ac72fba5c4fe'), ObjectId('689bd95b51a5ac72fba5c4ff'), ObjectId('689bd95b51a5ac72fba5c500'), ObjectId('689bd95b51a5ac72fba5c501'), ObjectId('689bd95b51a5ac72fba5c502'), ObjectId('689bd95b51a5ac72fba5c503'), ObjectId('689bd95b51a5ac72fba5c504'), ObjectId('689bd95b51a5ac72fba5c505'), ObjectId('689bd95b51a5ac72fba5c506'), ObjectId('689bd95b51a5ac72fba5c507'), ObjectId('689bd95b51a5ac72fba5c508'), ObjectId('689bd95b51a5ac72fba5c509'), ObjectId('689bd95b51a5ac72fba5c50a'), ObjectId('689bd95b51a5ac72fba5c50b'), ObjectId('689bd95b51a5ac72fba5c50c'), ObjectId('689bd95b51a5ac72fba5c50d'), ObjectId('689bd95b51a5ac72fba5c50e'), ObjectId('689bd95b51a5ac72fba5c50f'), ObjectId('689bd95b51a5ac72fba5c510'), ObjectId('689bd95b51a5ac72fba5c511'), ObjectId('689bd95b51a5ac72fba5c512'), ObjectId('689bd95b51a5ac72fba5c513'), ObjectId('689bd95b51a5ac72fba5c514'), ObjectId('689bd95b51a5ac72fba5c515'), ObjectId('689bd95b51a5ac72fba5c516'), ObjectId('689bd95b51a5ac72fba5c517'), ObjectId('689bd95b51a5ac72fba5c518'), ObjectId('689bd95b51a5ac72fba5c519'), ObjectId('689bd95b51a5ac72fba5c51a'), ObjectId('689bd95b51a5ac72fba5c51b'), ObjectId('689bd95b51a5ac72fba5c51c'), ObjectId('689bd95b51a5ac72fba5c51d'), ObjectId('689bd95b51a5ac72fba5c51e'), ObjectId('689bd95b51a5ac72fba5c51f'), ObjectId('689bd95b51a5ac72fba5c520'), ObjectId('689bd95b51a5ac72fba5c521'), ObjectId('689bd95b51a5ac72fba5c522'), ObjectId('689bd95b51a5ac72fba5c523'), ObjectId('689bd95b51a5ac72fba5c524'), ObjectId('689bd95b51a5ac72fba5c525'), ObjectId('689bd95b51a5ac72fba5c526'), ObjectId('689bd95b51a5ac72fba5c527'), ObjectId('689bd95b51a5ac72fba5c528'), ObjectId('689bd95b51a5ac72fba5c529'), ObjectId('689bd95b51a5ac72fba5c52a'), ObjectId('689bd95b51a5ac72fba5c52b'), ObjectId('689bd95b51a5ac72fba5c52c'), ObjectId('689bd95b51a5ac72fba5c52d'), ObjectId('689bd95b51a5ac72fba5c52e'), ObjectId('689bd95b51a5ac72fba5c52f'), ObjectId('689bd95b51a5ac72fba5c530'), ObjectId('689bd95b51a5ac72fba5c531'), ObjectId('689bd95b51a5ac72fba5c532'), ObjectId('689bd95b51a5ac72fba5c533'), ObjectId('689bd95b51a5ac72fba5c534'), ObjectId('689bd95b51a5ac72fba5c535'), ObjectId('689bd95b51a5ac72fba5c536'), ObjectId('689bd95b51a5ac72fba5c537'), ObjectId('689bd95b51a5ac72fba5c538'), ObjectId('689bd95b51a5ac72fba5c539'), ObjectId('689bd95b51a5ac72fba5c53a'), ObjectId('689bd95b51a5ac72fba5c53b'), ObjectId('689bd95b51a5ac72fba5c53c'), ObjectId('689bd95b51a5ac72fba5c53d'), ObjectId('689bd95b51a5ac72fba5c53e'), ObjectId('689bd95b51a5ac72fba5c53f'), ObjectId('689bd95b51a5ac72fba5c540'), ObjectId('689bd95b51a5ac72fba5c541'), ObjectId('689bd95b51a5ac72fba5c542'), ObjectId('689bd95b51a5ac72fba5c543'), ObjectId('689bd95b51a5ac72fba5c544'), ObjectId('689bd95b51a5ac72fba5c545'), ObjectId('689bd95b51a5ac72fba5c546'), ObjectId('689bd95b51a5ac72fba5c547'), ObjectId('689bd95b51a5ac72fba5c548'), ObjectId('689bd95b51a5ac72fba5c549'), ObjectId('689bd95b51a5ac72fba5c54a'), ObjectId('689bd95b51a5ac72fba5c54b'), ObjectId('689bd95b51a5ac72fba5c54c'), ObjectId('689bd95b51a5ac72fba5c54d'), ObjectId('689bd95b51a5ac72fba5c54e'), ObjectId('689bd95b51a5ac72fba5c54f'), ObjectId('689bd95b51a5ac72fba5c550'), ObjectId('689bd95b51a5ac72fba5c551'), ObjectId('689bd95b51a5ac72fba5c552'), ObjectId('689bd95b51a5ac72fba5c553'), ObjectId('689bd95b51a5ac72fba5c554'), ObjectId('689bd95b51a5ac72fba5c555'), ObjectId('689bd95b51a5ac72fba5c556'), ObjectId('689bd95b51a5ac72fba5c557'), ObjectId('689bd95b51a5ac72fba5c558'), ObjectId('689bd95b51a5ac72fba5c559'), ObjectId('689bd95b51a5ac72fba5c55a'), ObjectId('689bd95b51a5ac72fba5c55b'), ObjectId('689bd95b51a5ac72fba5c55c'), ObjectId('689bd95b51a5ac72fba5c55d'), ObjectId('689bd95b51a5ac72fba5c55e'), ObjectId('689bd95b51a5ac72fba5c55f'), ObjectId('689bd95b51a5ac72fba5c560'), ObjectId('689bd95b51a5ac72fba5c561'), ObjectId('689bd95b51a5ac72fba5c562'), ObjectId('689bd95b51a5ac72fba5c563'), ObjectId('689bd95b51a5ac72fba5c564'), ObjectId('689bd95b51a5ac72fba5c565'), ObjectId('689bd95b51a5ac72fba5c566'), ObjectId('689bd95b51a5ac72fba5c567'), ObjectId('689bd95b51a5ac72fba5c568'), ObjectId('689bd95b51a5ac72fba5c569'), ObjectId('689bd95b51a5ac72fba5c56a'), ObjectId('689bd95b51a5ac72fba5c56b'), ObjectId('689bd95b51a5ac72fba5c56c'), ObjectId('689bd95b51a5ac72fba5c56d'), ObjectId('689bd95b51a5ac72fba5c56e'), ObjectId('689bd95b51a5ac72fba5c56f'), ObjectId('689bd95b51a5ac72fba5c570'), ObjectId('689bd95b51a5ac72fba5c571'), ObjectId('689bd95b51a5ac72fba5c572'), ObjectId('689bd95b51a5ac72fba5c573'), ObjectId('689bd95b51a5ac72fba5c574'), ObjectId('689bd95b51a5ac72fba5c575'), ObjectId('689bd95b51a5ac72fba5c576'), ObjectId('689bd95b51a5ac72fba5c577'), ObjectId('689bd95b51a5ac72fba5c578'), ObjectId('689bd95b51a5ac72fba5c579'), ObjectId('689bd95b51a5ac72fba5c57a'), ObjectId('689bd95b51a5ac72fba5c57b'), ObjectId('689bd95b51a5ac72fba5c57c'), ObjectId('689bd95b51a5ac72fba5c57d'), ObjectId('689bd95b51a5ac72fba5c57e'), ObjectId('689bd95b51a5ac72fba5c57f'), ObjectId('689bd95b51a5ac72fba5c580'), ObjectId('689bd95b51a5ac72fba5c581'), ObjectId('689bd95b51a5ac72fba5c582'), ObjectId('689bd95b51a5ac72fba5c583'), ObjectId('689bd95b51a5ac72fba5c584'), ObjectId('689bd95b51a5ac72fba5c585'), ObjectId('689bd95b51a5ac72fba5c586'), ObjectId('689bd95b51a5ac72fba5c587'), ObjectId('689bd95b51a5ac72fba5c588'), ObjectId('689bd95b51a5ac72fba5c589'), ObjectId('689bd95b51a5ac72fba5c58a'), ObjectId('689bd95b51a5ac72fba5c58b'), ObjectId('689bd95b51a5ac72fba5c58c'), ObjectId('689bd95b51a5ac72fba5c58d'), ObjectId('689bd95b51a5ac72fba5c58e'), ObjectId('689bd95b51a5ac72fba5c58f'), ObjectId('689bd95b51a5ac72fba5c590'), ObjectId('689bd95b51a5ac72fba5c591'), ObjectId('689bd95b51a5ac72fba5c592'), ObjectId('689bd95b51a5ac72fba5c593'), ObjectId('689bd95b51a5ac72fba5c594'), ObjectId('689bd95b51a5ac72fba5c595'), ObjectId('689bd95b51a5ac72fba5c596'), ObjectId('689bd95b51a5ac72fba5c597'), ObjectId('689bd95b51a5ac72fba5c598'), ObjectId('689bd95b51a5ac72fba5c599'), ObjectId('689bd95b51a5ac72fba5c59a'), ObjectId('689bd95b51a5ac72fba5c59b'), ObjectId('689bd95b51a5ac72fba5c59c'), ObjectId('689bd95b51a5ac72fba5c59d'), ObjectId('689bd95b51a5ac72fba5c59e'), ObjectId('689bd95b51a5ac72fba5c59f'), ObjectId('689bd95b51a5ac72fba5c5a0'), ObjectId('689bd95b51a5ac72fba5c5a1'), ObjectId('689bd95b51a5ac72fba5c5a2'), ObjectId('689bd95b51a5ac72fba5c5a3'), ObjectId('689bd95b51a5ac72fba5c5a4'), ObjectId('689bd95b51a5ac72fba5c5a5'), ObjectId('689bd95b51a5ac72fba5c5a6'), ObjectId('689bd95b51a5ac72fba5c5a7'), ObjectId('689bd95b51a5ac72fba5c5a8'), ObjectId('689bd95b51a5ac72fba5c5a9'), ObjectId('689bd95b51a5ac72fba5c5aa'), ObjectId('689bd95b51a5ac72fba5c5ab'), ObjectId('689bd95b51a5ac72fba5c5ac'), ObjectId('689bd95b51a5ac72fba5c5ad'), ObjectId('689bd95b51a5ac72fba5c5ae'), ObjectId('689bd95b51a5ac72fba5c5af'), ObjectId('689bd95b51a5ac72fba5c5b0'), ObjectId('689bd95b51a5ac72fba5c5b1'), ObjectId('689bd95b51a5ac72fba5c5b2'), ObjectId('689bd95b51a5ac72fba5c5b3'), ObjectId('689bd95b51a5ac72fba5c5b4'), ObjectId('689bd95b51a5ac72fba5c5b5'), ObjectId('689bd95b51a5ac72fba5c5b6'), ObjectId('689bd95b51a5ac72fba5c5b7'), ObjectId('689bd95b51a5ac72fba5c5b8'), ObjectId('689bd95b51a5ac72fba5c5b9'), ObjectId('689bd95b51a5ac72fba5c5ba'), ObjectId('689bd95b51a5ac72fba5c5bb'), ObjectId('689bd95b51a5ac72fba5c5bc'), ObjectId('689bd95b51a5ac72fba5c5bd'), ObjectId('689bd95b51a5ac72fba5c5be'), ObjectId('689bd95b51a5ac72fba5c5bf'), ObjectId('689bd95b51a5ac72fba5c5c0'), ObjectId('689bd95b51a5ac72fba5c5c1'), ObjectId('689bd95b51a5ac72fba5c5c2'), ObjectId('689bd95b51a5ac72fba5c5c3'), ObjectId('689bd95b51a5ac72fba5c5c4'), ObjectId('689bd95b51a5ac72fba5c5c5'), ObjectId('689bd95b51a5ac72fba5c5c6'), ObjectId('689bd95b51a5ac72fba5c5c7'), ObjectId('689bd95b51a5ac72fba5c5c8'), ObjectId('689bd95b51a5ac72fba5c5c9'), ObjectId('689bd95b51a5ac72fba5c5ca'), ObjectId('689bd95b51a5ac72fba5c5cb'), ObjectId('689bd95b51a5ac72fba5c5cc'), ObjectId('689bd95b51a5ac72fba5c5cd'), ObjectId('689bd95b51a5ac72fba5c5ce'), ObjectId('689bd95b51a5ac72fba5c5cf'), ObjectId('689bd95b51a5ac72fba5c5d0'), ObjectId('689bd95b51a5ac72fba5c5d1'), ObjectId('689bd95b51a5ac72fba5c5d2'), ObjectId('689bd95b51a5ac72fba5c5d3'), ObjectId('689bd95b51a5ac72fba5c5d4'), ObjectId('689bd95b51a5ac72fba5c5d5'), ObjectId('689bd95b51a5ac72fba5c5d6'), ObjectId('689bd95b51a5ac72fba5c5d7'), ObjectId('689bd95b51a5ac72fba5c5d8'), ObjectId('689bd95b51a5ac72fba5c5d9'), ObjectId('689bd95b51a5ac72fba5c5da'), ObjectId('689bd95b51a5ac72fba5c5db'), ObjectId('689bd95b51a5ac72fba5c5dc'), ObjectId('689bd95b51a5ac72fba5c5dd'), ObjectId('689bd95b51a5ac72fba5c5de'), ObjectId('689bd95b51a5ac72fba5c5df'), ObjectId('689bd95b51a5ac72fba5c5e0'), ObjectId('689bd95b51a5ac72fba5c5e1'), ObjectId('689bd95b51a5ac72fba5c5e2'), ObjectId('689bd95b51a5ac72fba5c5e3'), ObjectId('689bd95b51a5ac72fba5c5e4'), ObjectId('689bd95b51a5ac72fba5c5e5'), ObjectId('689bd95b51a5ac72fba5c5e6'), ObjectId('689bd95b51a5ac72fba5c5e7'), ObjectId('689bd95b51a5ac72fba5c5e8'), ObjectId('689bd95b51a5ac72fba5c5e9'), ObjectId('689bd95b51a5ac72fba5c5ea'), ObjectId('689bd95b51a5ac72fba5c5eb'), ObjectId('689bd95b51a5ac72fba5c5ec'), ObjectId('689bd95b51a5ac72fba5c5ed'), ObjectId('689bd95b51a5ac72fba5c5ee'), ObjectId('689bd95b51a5ac72fba5c5ef'), ObjectId('689bd95b51a5ac72fba5c5f0'), ObjectId('689bd95b51a5ac72fba5c5f1'), ObjectId('689bd95b51a5ac72fba5c5f2'), ObjectId('689bd95b51a5ac72fba5c5f3'), ObjectId('689bd95b51a5ac72fba5c5f4'), ObjectId('689bd95b51a5ac72fba5c5f5'), ObjectId('689bd95b51a5ac72fba5c5f6'), ObjectId('689bd95b51a5ac72fba5c5f7'), ObjectId('689bd95b51a5ac72fba5c5f8'), ObjectId('689bd95b51a5ac72fba5c5f9'), ObjectId('689bd95b51a5ac72fba5c5fa'), ObjectId('689bd95b51a5ac72fba5c5fb'), ObjectId('689bd95b51a5ac72fba5c5fc'), ObjectId('689bd95b51a5ac72fba5c5fd'), ObjectId('689bd95b51a5ac72fba5c5fe'), ObjectId('689bd95b51a5ac72fba5c5ff'), ObjectId('689bd95b51a5ac72fba5c600'), ObjectId('689bd95b51a5ac72fba5c601'), ObjectId('689bd95b51a5ac72fba5c602'), ObjectId('689bd95b51a5ac72fba5c603'), ObjectId('689bd95b51a5ac72fba5c604'), ObjectId('689bd95b51a5ac72fba5c605'), ObjectId('689bd95b51a5ac72fba5c606'), ObjectId('689bd95b51a5ac72fba5c607'), ObjectId('689bd95b51a5ac72fba5c608'), ObjectId('689bd95b51a5ac72fba5c609'), ObjectId('689bd95b51a5ac72fba5c60a'), ObjectId('689bd95b51a5ac72fba5c60b'), ObjectId('689bd95b51a5ac72fba5c60c'), ObjectId('689bd95b51a5ac72fba5c60d'), ObjectId('689bd95b51a5ac72fba5c60e'), ObjectId('689bd95b51a5ac72fba5c60f'), ObjectId('689bd95b51a5ac72fba5c610'), ObjectId('689bd95b51a5ac72fba5c611'), ObjectId('689bd95b51a5ac72fba5c612'), ObjectId('689bd95b51a5ac72fba5c613'), ObjectId('689bd95b51a5ac72fba5c614'), ObjectId('689bd95b51a5ac72fba5c615'), ObjectId('689bd95b51a5ac72fba5c616'), ObjectId('689bd95b51a5ac72fba5c617'), ObjectId('689bd95b51a5ac72fba5c618'), ObjectId('689bd95b51a5ac72fba5c619'), ObjectId('689bd95b51a5ac72fba5c61a'), ObjectId('689bd95b51a5ac72fba5c61b'), ObjectId('689bd95b51a5ac72fba5c61c'), ObjectId('689bd95b51a5ac72fba5c61d'), ObjectId('689bd95b51a5ac72fba5c61e'), ObjectId('689bd95b51a5ac72fba5c61f'), ObjectId('689bd95b51a5ac72fba5c620'), ObjectId('689bd95b51a5ac72fba5c621'), ObjectId('689bd95b51a5ac72fba5c622'), ObjectId('689bd95b51a5ac72fba5c623'), ObjectId('689bd95b51a5ac72fba5c624'), ObjectId('689bd95b51a5ac72fba5c625'), ObjectId('689bd95b51a5ac72fba5c626'), ObjectId('689bd95b51a5ac72fba5c627'), ObjectId('689bd95b51a5ac72fba5c628'), ObjectId('689bd95b51a5ac72fba5c629'), ObjectId('689bd95b51a5ac72fba5c62a'), ObjectId('689bd95b51a5ac72fba5c62b'), ObjectId('689bd95b51a5ac72fba5c62c'), ObjectId('689bd95b51a5ac72fba5c62d'), ObjectId('689bd95b51a5ac72fba5c62e'), ObjectId('689bd95b51a5ac72fba5c62f'), ObjectId('689bd95b51a5ac72fba5c630'), ObjectId('689bd95b51a5ac72fba5c631'), ObjectId('689bd95b51a5ac72fba5c632'), ObjectId('689bd95b51a5ac72fba5c633'), ObjectId('689bd95b51a5ac72fba5c634'), ObjectId('689bd95b51a5ac72fba5c635'), ObjectId('689bd95b51a5ac72fba5c636'), ObjectId('689bd95b51a5ac72fba5c637'), ObjectId('689bd95b51a5ac72fba5c638'), ObjectId('689bd95b51a5ac72fba5c639'), ObjectId('689bd95b51a5ac72fba5c63a'), ObjectId('689bd95b51a5ac72fba5c63b'), ObjectId('689bd95b51a5ac72fba5c63c'), ObjectId('689bd95b51a5ac72fba5c63d'), ObjectId('689bd95b51a5ac72fba5c63e'), ObjectId('689bd95b51a5ac72fba5c63f'), ObjectId('689bd95b51a5ac72fba5c640'), ObjectId('689bd95b51a5ac72fba5c641'), ObjectId('689bd95b51a5ac72fba5c642'), ObjectId('689bd95b51a5ac72fba5c643'), ObjectId('689bd95b51a5ac72fba5c644'), ObjectId('689bd95b51a5ac72fba5c645'), ObjectId('689bd95b51a5ac72fba5c646'), ObjectId('689bd95b51a5ac72fba5c647'), ObjectId('689bd95b51a5ac72fba5c648'), ObjectId('689bd95b51a5ac72fba5c649'), ObjectId('689bd95b51a5ac72fba5c64a'), ObjectId('689bd95b51a5ac72fba5c64b'), ObjectId('689bd95b51a5ac72fba5c64c'), ObjectId('689bd95b51a5ac72fba5c64d'), ObjectId('689bd95b51a5ac72fba5c64e'), ObjectId('689bd95b51a5ac72fba5c64f'), ObjectId('689bd95b51a5ac72fba5c650'), ObjectId('689bd95b51a5ac72fba5c651'), ObjectId('689bd95b51a5ac72fba5c652'), ObjectId('689bd95b51a5ac72fba5c653'), ObjectId('689bd95b51a5ac72fba5c654'), ObjectId('689bd95b51a5ac72fba5c655'), ObjectId('689bd95b51a5ac72fba5c656'), ObjectId('689bd95b51a5ac72fba5c657'), ObjectId('689bd95b51a5ac72fba5c658'), ObjectId('689bd95b51a5ac72fba5c659'), ObjectId('689bd95b51a5ac72fba5c65a'), ObjectId('689bd95b51a5ac72fba5c65b'), ObjectId('689bd95b51a5ac72fba5c65c'), ObjectId('689bd95b51a5ac72fba5c65d'), ObjectId('689bd95b51a5ac72fba5c65e'), ObjectId('689bd95b51a5ac72fba5c65f'), ObjectId('689bd95b51a5ac72fba5c660'), ObjectId('689bd95b51a5ac72fba5c661'), ObjectId('689bd95b51a5ac72fba5c662'), ObjectId('689bd95b51a5ac72fba5c663'), ObjectId('689bd95b51a5ac72fba5c664'), ObjectId('689bd95b51a5ac72fba5c665'), ObjectId('689bd95b51a5ac72fba5c666'), ObjectId('689bd95b51a5ac72fba5c667'), ObjectId('689bd95b51a5ac72fba5c668'), ObjectId('689bd95b51a5ac72fba5c669'), ObjectId('689bd95b51a5ac72fba5c66a'), ObjectId('689bd95b51a5ac72fba5c66b'), ObjectId('689bd95b51a5ac72fba5c66c'), ObjectId('689bd95b51a5ac72fba5c66d'), ObjectId('689bd95b51a5ac72fba5c66e'), ObjectId('689bd95b51a5ac72fba5c66f'), ObjectId('689bd95b51a5ac72fba5c670'), ObjectId('689bd95b51a5ac72fba5c671'), ObjectId('689bd95b51a5ac72fba5c672'), ObjectId('689bd95b51a5ac72fba5c673'), ObjectId('689bd95b51a5ac72fba5c674'), ObjectId('689bd95b51a5ac72fba5c675'), ObjectId('689bd95b51a5ac72fba5c676'), ObjectId('689bd95b51a5ac72fba5c677'), ObjectId('689bd95b51a5ac72fba5c678'), ObjectId('689bd95b51a5ac72fba5c679'), ObjectId('689bd95b51a5ac72fba5c67a'), ObjectId('689bd95b51a5ac72fba5c67b'), ObjectId('689bd95b51a5ac72fba5c67c'), ObjectId('689bd95b51a5ac72fba5c67d'), ObjectId('689bd95b51a5ac72fba5c67e'), ObjectId('689bd95b51a5ac72fba5c67f'), ObjectId('689bd95b51a5ac72fba5c680'), ObjectId('689bd95b51a5ac72fba5c681'), ObjectId('689bd95b51a5ac72fba5c682'), ObjectId('689bd95b51a5ac72fba5c683'), ObjectId('689bd95b51a5ac72fba5c684'), ObjectId('689bd95b51a5ac72fba5c685'), ObjectId('689bd95b51a5ac72fba5c686'), ObjectId('689bd95b51a5ac72fba5c687'), ObjectId('689bd95b51a5ac72fba5c688'), ObjectId('689bd95b51a5ac72fba5c689'), ObjectId('689bd95b51a5ac72fba5c68a'), ObjectId('689bd95b51a5ac72fba5c68b'), ObjectId('689bd95b51a5ac72fba5c68c'), ObjectId('689bd95b51a5ac72fba5c68d'), ObjectId('689bd95b51a5ac72fba5c68e'), ObjectId('689bd95b51a5ac72fba5c68f'), ObjectId('689bd95b51a5ac72fba5c690'), ObjectId('689bd95b51a5ac72fba5c691'), ObjectId('689bd95b51a5ac72fba5c692'), ObjectId('689bd95b51a5ac72fba5c693'), ObjectId('689bd95b51a5ac72fba5c694'), ObjectId('689bd95b51a5ac72fba5c695'), ObjectId('689bd95b51a5ac72fba5c696'), ObjectId('689bd95b51a5ac72fba5c697'), ObjectId('689bd95b51a5ac72fba5c698'), ObjectId('689bd95b51a5ac72fba5c699'), ObjectId('689bd95b51a5ac72fba5c69a'), ObjectId('689bd95b51a5ac72fba5c69b'), ObjectId('689bd95b51a5ac72fba5c69c'), ObjectId('689bd95b51a5ac72fba5c69d'), ObjectId('689bd95b51a5ac72fba5c69e'), ObjectId('689bd95b51a5ac72fba5c69f'), ObjectId('689bd95b51a5ac72fba5c6a0'), ObjectId('689bd95b51a5ac72fba5c6a1'), ObjectId('689bd95b51a5ac72fba5c6a2'), ObjectId('689bd95b51a5ac72fba5c6a3'), ObjectId('689bd95b51a5ac72fba5c6a4'), ObjectId('689bd95b51a5ac72fba5c6a5'), ObjectId('689bd95b51a5ac72fba5c6a6'), ObjectId('689bd95b51a5ac72fba5c6a7'), ObjectId('689bd95b51a5ac72fba5c6a8'), ObjectId('689bd95b51a5ac72fba5c6a9'), ObjectId('689bd95b51a5ac72fba5c6aa'), ObjectId('689bd95b51a5ac72fba5c6ab'), ObjectId('689bd95b51a5ac72fba5c6ac'), ObjectId('689bd95b51a5ac72fba5c6ad'), ObjectId('689bd95b51a5ac72fba5c6ae'), ObjectId('689bd95b51a5ac72fba5c6af'), ObjectId('689bd95b51a5ac72fba5c6b0'), ObjectId('689bd95b51a5ac72fba5c6b1'), ObjectId('689bd95b51a5ac72fba5c6b2'), ObjectId('689bd95b51a5ac72fba5c6b3'), ObjectId('689bd95b51a5ac72fba5c6b4'), ObjectId('689bd95b51a5ac72fba5c6b5'), ObjectId('689bd95b51a5ac72fba5c6b6'), ObjectId('689bd95b51a5ac72fba5c6b7'), ObjectId('689bd95b51a5ac72fba5c6b8'), ObjectId('689bd95b51a5ac72fba5c6b9'), ObjectId('689bd95b51a5ac72fba5c6ba'), ObjectId('689bd95b51a5ac72fba5c6bb'), ObjectId('689bd95b51a5ac72fba5c6bc'), ObjectId('689bd95b51a5ac72fba5c6bd'), ObjectId('689bd95b51a5ac72fba5c6be'), ObjectId('689bd95b51a5ac72fba5c6bf'), ObjectId('689bd95b51a5ac72fba5c6c0'), ObjectId('689bd95b51a5ac72fba5c6c1'), ObjectId('689bd95b51a5ac72fba5c6c2'), ObjectId('689bd95b51a5ac72fba5c6c3'), ObjectId('689bd95b51a5ac72fba5c6c4'), ObjectId('689bd95b51a5ac72fba5c6c5'), ObjectId('689bd95b51a5ac72fba5c6c6'), ObjectId('689bd95b51a5ac72fba5c6c7'), ObjectId('689bd95b51a5ac72fba5c6c8'), ObjectId('689bd95b51a5ac72fba5c6c9'), ObjectId('689bd95b51a5ac72fba5c6ca'), ObjectId('689bd95b51a5ac72fba5c6cb'), ObjectId('689bd95b51a5ac72fba5c6cc'), ObjectId('689bd95b51a5ac72fba5c6cd'), ObjectId('689bd95b51a5ac72fba5c6ce'), ObjectId('689bd95b51a5ac72fba5c6cf'), ObjectId('689bd95b51a5ac72fba5c6d0'), ObjectId('689bd95b51a5ac72fba5c6d1'), ObjectId('689bd95b51a5ac72fba5c6

# --- Checking the result ---

In [7]:
datas = collection.find().limit(1)

for doc in datas:
    print(doc)

{'_id': ObjectId('689bd95b51a5ac72fba5c4c5'), 'order_id': 'ORD-0001', 'item_name': 'Headphones', 'quantity': 4, 'price_per_unit': 1015.74, 'total_price': 4062.96, 'order_date': '2024-09-03T13:01:19.333805', 'region': 'West', 'payment_method': 'Bank Transfer', 'customer_info': {'customer_id': 'CUST-3916', 'email': 'johnny89@example.org', 'age': None, 'address': {'street': '537 Main St', 'city': 'Harrelltown', 'zip': '65592'}}, 'status': 'Pending'}

# ---Create DataFrame to display data easily ---

In [8]:
data_list = list(collection.find())

data_df = pd.DataFrame(data_list)
data_df.head()

,_id,order_id,item_name,quantity,price_per_unit,total_price,order_date,region,payment_method,customer_info,status,notes
0,689bd95b51a5ac72fba5c4c5,ORD-0001,Headphones,4,1015.74,4062.96,2024-09-03T13:01:19.333805,West,Bank Transfer,"{'customer_id': 'CUST-3916', 'email': 'johnny8...",Pending,NaN
1,689bd95b51a5ac72fba5c4c6,ORD-0002,SSD,10,952.47,9524.7,2024-12-12T13:01:19.370674,South,Credit Card,"{'customer_id': 'CUST-6310', 'email': 'brenda9...",Pending,Special handling required
2,689bd95b51a5ac72fba5c4c7,ORD-0003,Monitor,5,678.01,3390.05,2024-10-25T13:01:19.372011,West,Bank Transfer,"{'customer_id': 'CUST-1522', 'email': 'heather...",Refunded,NaN
3,689bd95b51a5ac72fba5c4c8,ORD-0004,Webcam,10,365.39,3653.9,2025-05-01T13:01:19.373498,South,Cash,"{'customer_id': 'CUST-8180', 'email': 'lorrain...",Cancelled,NaN
4,689bd95b51a5ac72fba5c4c9,ORD-0005,SSD,3,249.20,747.6,2024-12-12T13:01:19.374776,West,Crypto,"{'customer_id': 'CUST-8477', 'email': 'michael...",Pending,NaN

# --- 1 Data Observation ---

# Checking Duplicate Fields

In [83]:
# In sales order duplicate that not allowed in order_id
order_id_pipeline = [
    {
        '$group':{
            '_id':'$order_id',
            'count':{'$sum':1}
        }
    },
    {
        '$match':{
            'count':{'$gt':1}
        }
    }
]

duplicates_order = list(collection.aggregate(order_id_pipeline))
duplicates_order

[]

# Item Name List

In [9]:
item_list = collection.distinct('item_name')

item_list_df = pd.DataFrame(item_list)
item_list_df

               0
0            CPU
1  Graphics Card
2     Headphones
3       Keyboard
4         Laptop
5        Monitor
6          Mouse
7            RAM
8            SSD
9         Webcam

# Checking quantity data type if not integer

In [10]:
qty_not_int = collection.find({'quantity':{'$not':{'$type':'int'}}},{'_id':0, 'order_id':1, 'quantity':1})

#for qty in qty_not_int:
#    print(qty)

qty_not_int_list = list(qty_not_int)

qty_not_int_df = pd.DataFrame(qty_not_int_list)

qty_not_int_df['quantity'].size

55

# Checking price_per_unit not double

In [11]:
per_unit_not_double = collection.find({'price_per_unit':{'$not':{'$type': 'double'}}},
                                      {'_id':0, 'order_id':1, 'price_per_unit':1})

not_double_list = list(per_unit_not_double)

not_double_list
#not_double_df = pd.DataFrame(not_double_list)

#not_double_df['price_per_unit'].size

[]

# Checking total_price if not double

In [12]:
total_price_not_double = collection.find({'total_price':{'$not':{'$type': 'double'}}},
                                      {'_id':0, 'order_id':1, 'total_price':1})

not_double_list2 = list(total_price_not_double)

not_double_df2 = pd.DataFrame(not_double_list2)

not_double_df2.head()

   order_id total_price
0  ORD-0036    $6671.42
1  ORD-0045    $2011.32
2  ORD-0048     $539.54
3  ORD-0099    $3646.89
4  ORD-0135     $488.76

# Make list for region

In [13]:
collection.distinct('region')

['Central', 'East', 'North', 'South', 'West']

# Make list for payment_method

In [14]:
collection.distinct('payment_method')

[None, 'Bank Transfer', 'Cash', 'Credit Card', 'Crypto', 'PayPal']

# Make list of transaction status

In [15]:
collection.distinct('status')

['Cancelled', 'Completed', 'Pending', 'Refunded']

# Checking age data type

In [16]:
age = collection.find({'customer_info.age':{'$not':{'$type':'int'}}},{'_id':0, 'order_id':1, 'customer_info.age':1})

age_list = list(age)

age_df = pd.DataFrame(age_list)

age_df.head()

   order_id  customer_info
0  ORD-0001  {'age': None}
1  ORD-0012  {'age': None}
2  ORD-0027  {'age': None}
3  ORD-0031  {'age': None}
4  ORD-0032  {'age': None}

# Checking transaction hase no notes

In [17]:
notes = collection.find({'notes':{'$exists':False}},{'_id':0, 'order_id':1, 'notes':1})

notes_list = list(notes)

notes_df = pd.DataFrame(notes_list)

print(notes_df.head())

print(notes_df.size)

   order_id
0  ORD-0001
1  ORD-0003
2  ORD-0004
3  ORD-0005
4  ORD-0006
913

# Make list of city

In [18]:
city = collection.distinct('customer_info.address.city')

city_df = pd.DataFrame(city)

city_df.head()

             0
0    Aaronstad
1  Abbottmouth
2   Acostastad
3  Acostaville
4     Adambury

In [19]:
city_df.size

967

# 2 --- Data Cleaning ---

# Quantity data type correction to int

In [20]:
collection.update_many({'quantity':{'$not':{'$type':'int'}}},[{'$set':{'quantity':{'$toInt':'$quantity'}}}])

UpdateResult({'n': 55, 'nModified': 55, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

# Checking quantity data type if not int

In [21]:
qty_not_int = collection.find({'quantity':{'$not':{'$type':'int'}}},{'_id':0, 'order_id':1, 'quantity':1})

qty_not_int_list = list(qty_not_int)

qty_not_int_list

[]

# total_price to double

In [23]:
# Remove $ char from value
collection.update_many({'total_price':{'$not':{'$type': 'double'}}},
                      [{'$set':{'total_price':{'$trim':{'input':'$total_price', 'chars':'/$'}}}}])


# Convert value to double
collection.update_many({'total_price':{'$not':{'$type': 'double'}}},
                      [{'$set':{'total_price':{'$toDouble':'$total_price'}}}])

UpdateResult({'n': 29, 'nModified': 29, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [24]:
total_price_not_double = collection.find({'total_price':{'$not':{'$type': 'double'}}})

total_price_not_double_list = list(total_price_not_double)

total_price_not_double_list

[]

# Make list payment_method with total_price

In [29]:
payment = collection.aggregate([
    {'$group':
         {'_id':'$payment_method', 'total_price':{'$sum':'$total_price'}}       
    },
    {'$sort':{'total_price':-1}}
])

payment_df = pd.DataFrame(payment)
payment_df

             _id  total_price
0  Bank Transfer    929087.61
1         Crypto    845416.68
2         PayPal    817803.41
3    Credit Card    795558.58
4           Cash    759344.41
5           None     98503.19

# Update None type to Cash since the value small hence close to it

In [31]:
collection.update_many({'payment_method':None},{'$set':{'payment_method':'Cash'}})

UpdateResult({'n': 20, 'nModified': 20, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

# Checking payment_method after update

In [33]:
payment = collection.aggregate([
    {'$group':
         {'_id':'$payment_method', 'total_price':{'$sum':'$total_price'}}       
    },
    {'$sort':{'total_price':-1}}
])

payment_df = pd.DataFrame(payment)
payment_df

             _id  total_price
0  Bank Transfer    929087.61
1           Cash    857847.60
2         Crypto    845416.68
3         PayPal    817803.41
4    Credit Card    795558.58

# Transaction status with total_price

In [34]:
status = collection.aggregate([
    {'$group':
        {'_id':'$status', 'total_price':{'$sum':'$total_price'}}
    },
    {'$sort':{'total_price':-1}}
])

status_df = pd.DataFrame(status)
status_df

         _id  total_price
0    Pending   1200341.40
1  Completed   1072176.02
2  Cancelled    998244.37
3   Refunded    974952.09

# Update age that None to median value

In [36]:
median_age = collection.aggregate([
    {
        '$group':{
            '_id':None,
            'medianAge':{'$median':{'input':'$customer_info.age', 'method':'approximate'}}
        }        
    }
]).next()

median_age = int(round(median_age['medianAge']))
median_age

44

In [39]:
collection.update_many({'customer_info.age':{'$not':{'$type':'int'}}},{'$set':{'customer_info.age':median_age}})

UpdateResult({'n': 108, 'nModified': 108, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

# Check age update updated None value

In [45]:
age = collection.find({'customer_info.age':{'$not':{'$type':'int'}}},{'_id':0, 'order_id':1, 'customer_info.age':1})

age_list = list(age)
age_list

#age_df = pd.DataFrame(age_list)

#age_df.head()

[]

# Update notes to Special_handling become YES/NO value
# Notes exist --> YES & Notes not exist -->NO

In [46]:
collection.update_many({'notes':{'$exists':True}},{'$rename':{'notes':'special_handling'}})

UpdateResult({'n': 87, 'nModified': 87, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [48]:
collection.update_many({'special_handling':{'$exists':True}},{'$set':{'special_handling':'YES'}})

UpdateResult({'n': 87, 'nModified': 87, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [55]:
collection.update_many({'special_handling':{'$exists':False}},{'$set':{'special_handling':'NO'}})

UpdateResult({'n': 913, 'nModified': 913, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

# Checking the updated notes

In [56]:
notes = collection.find({'special_handling': 'NO'},{'_id':0, 'order_id':1, 'special_handling':1})

notes_df = pd.DataFrame(notes)
notes_df.head()

   order_id special_handling
0  ORD-0001               NO
1  ORD-0003               NO
2  ORD-0004               NO
3  ORD-0005               NO
4  ORD-0006               NO

In [57]:
notes2 = collection.find({'special_handling': 'YES'},{'_id':0, 'order_id':1, 'special_handling':1})

notes2_df = pd.DataFrame(notes2)
notes2_df.head()

   order_id special_handling
0  ORD-0002              YES
1  ORD-0013              YES
2  ORD-0032              YES
3  ORD-0033              YES
4  ORD-0058              YES

# 3 --- Insight ---

# ***Best Selling Items*** ###

In [62]:
best_selling_pipeline = [
    {'$group':
     {
         '_id':'$item_name', 'total_price':{'$sum':'$total_price'}
     }
    },
    {'$sort':{'total_price':-1} },
    {'$limit':5 }    
]

best_selling = list(collection.aggregate(best_selling_pipeline))

In [64]:
best_selling_df = pd.DataFrame(best_selling)
best_selling_df = best_selling_df.rename(columns={'_id':'Item', 'total_sale':'Total Sales'})
best_selling_df

       Item  total_price
0       SSD    524134.23
1       CPU    483523.42
2    Webcam    460301.27
3  Keyboard    436591.17
4     Mouse    407695.41

# ***Sales Distribution by Age***

In [69]:
age_group_pipeline = [
    {
        '$bucket':{
            'groupBy':'$customer_info.age',
            'boundaries':[0, 18, 25, 35, 50, 65, 100],
            'default': 'Other/Unknown',
            'output':{
                'total_price':{'$sum':1}
            }
        }
    },
    {'$sort':{'_id':1}}
]

age_group_result = list(collection.aggregate(age_group_pipeline))
age_group_df = pd.DataFrame(age_group_result)
age_group_df = age_group_df.rename(columns={'_id':'Age Group', 'total_price':'Total Sale'})
age_group_df

   Age Group  Total Sale
0         18         107
1         25         166
2         35         377
3         50         247
4         65         103

# ***Sales Distribution by Region***

In [73]:
region_distribution_pipeline = [
    {
        '$group':{
            '_id':'$region', 'total_sale':{'$sum':'$total_price'}
        }
    },
    {'$sort':{'total_sale':-1}},
    {'$limit':5}
]
region_distribution = list(collection.aggregate(region_distribution_pipeline))
region_distribution_df = pd.DataFrame(region_distribution)
region_distribution_df = region_distribution_df.rename(columns={'_id':'Region', 'total_sale':'Total Sale'})
region_distribution_df

    Region  Total Sale
0  Central   931008.98
1    South   900212.94
2    North   831611.66
3     West   797602.12
4     East   785278.18

# ***Status Transaction Breakdown***

In [78]:
status_pipeline = [
    {
        '$group':{
            '_id':'$status', 'total_sale':{'$sum':'$total_price'}
        }
    },
    {'$sort':{'total_sale':-1}}
]

status_pipeline_result = collection.aggregate(status_pipeline)
status_pipeline_df = pd.DataFrame(status_pipeline_result)
status_pipeline_df = status_pipeline_df.rename(columns={'_id':'Status', 'total_sale':'Total Sale'})
status_pipeline_df

      Status  Total Sale
0    Pending  1200341.40
1  Completed  1072176.02
2  Cancelled   998244.37
3   Refunded   974952.09

# ***Payment Method to Total Sale***

In [80]:
payment_method_pipeline = [
    {
        '$group':{
            '_id':'$payment_method', 'total_sale':{'$sum':'$total_price'}
        }
    },
    {'$sort':{'total_sale':-1}}
]

payment_method = collection.aggregate(payment_method_pipeline)
payment_method_df = pd.DataFrame(payment_method)
payment_method_df = payment_method_df.rename(columns={'_id':'Payment Menthod', 'total_sale':'Total Sale'})
payment_method_df

  Payment Menthod  Total Sale
0   Bank Transfer   929087.61
1            Cash   857847.60
2          Crypto   845416.68
3          PayPal   817803.41
4     Credit Card   795558.58

In [ ]:
conn.close()